---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Boomboxd">
  <main>
    <div class="pt-16 flex items-center justify-center flex-col">
      <h1 class="text-6xl font-bold my-4">Boomboxd</h1>
      <p class="text-xl text-zinc-400">(não consegui pensar num nome melhor)</p>
    </div>

    <h2 class="mt-8 font-bold text-4xl">Últimas reviews</h2>
  </main>
</Layout>

<style>

</style>
